$primary: 	#d3d3d3 ;  //light-gray;
$secondary: #808080;  //grey;
$header1:#a9a9a9;  //darkgrey;
$header2:#2f4f4f ;  //darkslategrey;



//start;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }

  //NAV BAR;
  nav{
    height: 60px;
    background-color: #f5f5f5;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

  }
  nav .logo{
    font-size: 33px;
    color:$header2;
    font-weight: 600px;
  }
  nav ul{
    display: flex;
    list-style: none;
    }
  nav ul li{
      margin: 0px 5px;
    }
  nav ul li a{
    text-decoration: none;
    position: relative;
    color: $header2;
    font-size: 18px;
    padding:5px 0;
    text-transform: uppercase;
  }
  nav ul li a:before{
            position: absolute;
            content:"";
            left: 0;
            bottom:0;
            height: 3px;
            width: 100%;
            background-color: $header2;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .4s linear;
            }
  nav ul li a:hover:before{
            transform: scaleX(1);
            transform-origin: left;
            }
  nav ul li a:active:before{
            color:$header1;
          }
  nav ul li a.active{
    color: $header2
    }

  nav .menu-btn i{
    color: $header2;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
    #click{
      display: none;
      }


    .write-header-1{
        font-size: 30px;
        text-align: center;
        }
    .write-header-2{
        font-size: 15px;
        text-align: center;
        }

    .write-header-3{
        font-size: 8px;
        text-align: center;
        }



div.bio{
  display:block;

}


      //MOBILE;
@media only screen and(max-width: 500px){

  nav .menu-btn i{
    display:block;
    }

    #click:checked ~ .menu-btn i:before{
      content: "\f00d"; //appare croce nel menu piccolo;
        }
    nav ul{ //passaggio a menu piccolo decorazione;
      position: fixed;
      top: 60px;
      left: -100%;
      background-color: $header1;
      height: 100vh;
      width: 100%;
      display:block;
      text-align: center;
      transition: all 0.3s ease;
      z-index: 99999;
      }
    #click:checked ~ ul{
        left:0%;
        }
    nav ul li{
      margin: 40px 0px;
      }
    nav ul li a{
      font-size: 20px;
      display:block;
      }
    nav ul li a:hover,
    nav ul li a.active {
    color: $header2;
    background-color: none;
    }
}

//Header!!

.header{
  display:block;
  position: absolute;



  .background img{
    width: 100%;
    display:flex;
    position: absolute;
    z-index: 0;

  }


   .foto {
    width:25%;
    height: 25%;
    position: relative;
    float: right;
    padding-right:2.5em;
    padding-top: 2.5em;
    z-index: 1;
  }

  .write-header{

    color: $header2;

    display: flex;
    float: left;
    position: relative;
    padding-top:10%;
    padding-left:7%;
    padding-bottom: 6%;
    font-size: auto;
    z-index: 1;
    }

    //About;

    div.bio{
      display:block;
    }

}



//TABLET;
@media only screen and(min-width:501px)and(max-width:900px){

    //HEADER;
  .foto {
      padding-right:4em;
      padding-top: 4em;
      }

  .write-header{
        padding-top:40%;
        padding-left:25%;
        width: 70%;
        height: 50%;

    .write-header-1{
          font-size: 40px;
          text-align: center;

        }
        .write-header-2{
          font-size: 20px;
          text-align: center;
        }

        .write-header-3{
          font-size: 15px;
          text-align: center;
        }

        }


}

//DESKTOP!!
@media only screen and(min-width:901px){

      //HEADER;
  .foto {
    padding-right:9em;
    padding-top: 9em;
    }

  .write-header{
    padding-top:40%;
    padding-left:25%;
    width: 70%;
    height: 50%;

      .write-header-1{
        font-size: 100px;
        text-align: center;
        }
      .write-header-2{
        font-size: 50px;
        text-align: center;
        }

      .write-header-3{
        font-size: 30px;
        text-align: center;
        }
    }

}
