@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
//font-family: 'Dancing Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
//font-family: 'Kalam', cursive;

$primary: 	#d3d3d3 ;  //light-gray;
$secondary:	#000080 ;  //navy blue;
$white: #f5f5f5; //white smoke;
$black:#000000; // black;
$write:#191970;//midnightblue;


//start;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }


//NAV BAR;


  nav{
    height: 60px;
    background-color: $white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

  }
  nav .logo{
    }
  nav ul{
    display: flex;
    list-style: none;

    }
  nav ul li{
      margin: 0px 5px;

    }
  nav ul li a{
    text-decoration: none;
    position: relative;
    color: $secondary;
    font-size: 18px;
    padding:5px 0;
    text-transform: uppercase;
  }
  nav ul li a:before{
            position: absolute;
            content:"";
            left: 0;
            bottom:0;
            height: 3px;
            width: 100%;
            background-color: $secondary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .4s linear;
            }
  nav ul li a:hover:before{
            transform: scaleX(1);
            transform-origin: left;
            }
  nav ul li a:active:before{
            color:$secondary;
          }
  nav ul li a.active{
    color: $black;
    }

  nav .menu-btn i{
    color: $secondary;
    font-size: 22px;
    cursor: pointer;
    display: none;
    }
    #click{
      display: none;
      }

//HEADER;

  section{
    position: relative;
    width: 100%;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;

      .content{

        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width:900px;
        text-align:left;

         h2{
           margin: 0;
           padding: 0;
           color: #fff;
           font-size: 5.5em;
         }


         p{
          color: $white;
          font-size: 2.5em;
          }
      }
    }

    section:before{
      content:"";
      position: absolute;
      top: 0;
      left:0;
      width:100%;
      height:100%;
      background: linear-gradient(45deg,$secondary,#B0E0E6);
      border-radius: 0 0 50% 50%/0 0 100% 100%;
      transform: scaleX(1.5);
    }

    .foto-me{
      z-index: 2;
      width:15%;
      margin-right: 15%;
      border-radius: 40% ;

    }


//ABOUT
    div.bio{
        color:$write;
        background-color:$white;
        margin:10%;
        display: flex;
        align-items:center;
        font-size:150%;
        border: 5px solid silver;
        border-radius: 15px 60px;



          .bio-1{
            margin:6%;
            font-family: 'Kalam', cursive;
          }
          h2{
            text-align: center;
            margin-bottom: 6%;
            font-size: auto;
            font-family: none;
          }
        }



//skill!!
    h1.title-skill{
      margin:15% 15% 0 15%;
      padding:2%;
      text-align:center;
      border-top: 2px solid darkgrey;

    }

    div.skill{
      color:$write;
      background-color:$white;
      margin:0 10% 20%;
      display:flex;
      border: 5px solid silver;
      font-size: auto;
      border-radius: 15px 60px;
      flex-wrap: wrap;





        h2{
          text-align: center;
          margin:5%;
          }

            .skill-html{

              width: 19%;
              margin:3%;
              padding:3%;
              border-right: 1px solid darkslategrey;


                i {
                  display: flex;
                  justify-content: center;
                  font-size:48px;
                  color:blue;
                }
            }

            .skill-css{

              width: 19%;
              margin:3%;
              padding-right:3%;
              padding-top:3%;
              border-right: 1px solid darkslategrey;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:red;
              }
            }

            .skill-js{
              width: 19%;
              margin:3%;
              padding-right:3%;
              padding-top: 3%;
              border-right: 1px solid darkslategrey;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:#fde910;
                }
            }

            .skill-sass{
              width: 19%;
              margin:3%;
              padding-top: 3%;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:fuchsia;
              }
            }
          }

//FOOTER;
    footer{
      position: relative;
      width: 100%;
      background: #383731;
      min-height: 100px;
      padding:20px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
          .social-icon{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;

                li{
                  list-style: none;

                    a{
                      font-size: 2em;
                      color:#fff;
                      margin:0 10px;
                      display: inline-block;
                      transition: 0.5s;
                      }
                  a:hover{
                    transform: translateY(-10px);
                  }
                }
              }
          p{
            color: #fff;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 1.1em;
          }
  }

    .whatsapp{
      position: fixed;
      right: 30px;
      bottom: 30px;
      z-index: 9999;
        a{
          font-size: 28px;
          color:#fff;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          line-height: 60px;
          display: block;
          background-color: #00e675;
          box-shadow: 0 3px 12px #00000040;
          transition: 0.3s;
        }
      }
      .whatsapp a:hover{
        background-color:#118c7e;
      }

//MOBILE;
  @media only screen and(max-width:440px){

//NAVBAR;mobile

  nav{
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    height: 45px;
    z-index: 9999;

  }
        nav .menu-btn i{
        display:block;


        }


        #click:checked ~ .menu-btn i:before{
        content: "\f00d"; //appare croce nel menu piccolo;
          }
        nav ul{ //passaggio a menu piccolo decorazione;
        position: fixed;
        top: 45px;
        left: -100%;
        background-color: $white;
        height: 100vh;
        width: 100%;
        display:block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 99999;
        }
        #click:checked ~ ul{
          left:0%;
          }
        nav ul li{
        margin: 40px 0px;
        }
        nav ul li a{
        font-size: 20px;
        display:block;

        }
        nav ul li a:hover,
        nav ul li a.active {
        color: $black;
        background-color: none;
        }
        nav ul li a:checked ~ nav ul:before{
          left:-100%;
        }




//Header!! mobile

        section{
          font-size: 50%;
          height: 30vh;

        }

        .foto-me{
          width: 30%;
        }

//About;mobile

      div.bio{
        font-size: 100%;
      }

//skill;mobile

      div.skill{
        flex-wrap: nowrap;
        flex-direction: column;

        .skill-html{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .skill-css{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .skill-js{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .skill-sass{
          width: 100%;
          padding:10%;
          border-right: none;
        }

      }

  }





//TABLET;
  @media only screen and(min-width:441px)and(max-width:900px){

    //NAVBAR;tablet

      nav{
        position: fixed;
        top: 0;
        right:0;
        width: 100%;
        height: 45px;
        z-index: 9999;

      }
            nav .menu-btn i{
            display:block;


            }


            #click:checked ~ .menu-btn i:before{
            content: "\f00d"; //appare croce nel menu piccolo;
              }
            nav ul{ //passaggio a menu piccolo decorazione;
            position: fixed;
            top: 45px;
            left: -100%;
            background-color: $white;
            height: 100vh;
            width: 100%;
            display:block;
            text-align: center;
            transition: all 0.3s ease;
            z-index: 99999;
            }
            #click:checked ~ ul{
              left:0%;
              }
            nav ul li{
            margin: 40px 0px;
            }
            nav ul li a{
            font-size: 20px;
            display:block;

            }
            nav ul li a:hover,
            nav ul li a.active {
            color: $black;
            background-color: none;
            }



//HEADER;tablet
    section{
      height: 70vh;
      font-size: 60%;
      padding-top: 40px;

    }
    .foto-me{
      width: 20%;
    }

//About;tablet

    div.bio{
        font-size: 130%;
  }

//skill;tablet

    div.skill{
      flex-wrap: wrap;
      flex-direction:row;
      .skill-html{
        width: 40%;
        padding:3%;
        border-right: none;
      }
      .skill-css{

        width: 40%;
        padding:3%;
        border-right: none;
      }
      .skill-js{
        width: 40%;
        padding:3%;
        border-right: none;
      }
      .skill-sass{
        width: 40%;
        padding:3%;
        border-right: none;
      }
    }
}
//DESKTOP!!
@media only screen and(min-width:901px){

//HEADER;desktop



}
