* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav {
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px; }

nav .logo {
  font-size: 33px;
  color: #2f4f4f;
  font-weight: 600px; }

nav ul {
  display: flex;
  list-style: none; }

nav ul li {
  margin: 0px 5px; }

nav ul li a {
  text-decoration: none;
  position: relative;
  color: #2f4f4f;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase; }

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #2f4f4f;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear; }

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left; }

nav ul li a:active:before {
  color: #a9a9a9; }

nav ul li a.active {
  color: #2f4f4f; }

nav .menu-btn i {
  color: #2f4f4f;
  font-size: 22px;
  cursor: pointer;
  display: none; }

#click {
  display: none; }

div.bg-img {
  background-image: url(/img/header-gray-2.png);
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid gray; }

div.bio {
  color: #2f4f4f;
  background-color: #d3d3d3;
  margin: 10%;
  display: flex;
  align-items: center;
  font-size: 200%;
  border: 5px solid darkgrey;
  border-radius: 15px 60px; }
  div.bio .bio-1 {
    margin: 6%; }
  div.bio h2 {
    text-align: center;
    margin-bottom: 6%;
    font-size: auto; }

@media only screen and (max-width: 440px) {
  nav .menu-btn i {
    display: block; }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d"; }

  nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: #a9a9a9;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 99999; }

  #click:checked ~ ul {
    left: 0%; }

  nav ul li {
    margin: 40px 0px; }

  nav ul li a {
    font-size: 20px;
    display: block; }

  nav ul li a:hover,
  nav ul li a.active {
    color: #2f4f4f;
    background-color: none; }

  div.write-header {
    width: 100%;
    min-height: 20vh;
    padding-top: 10%;
    padding-left: 7%;
    font-size: auto;
    color: #2f4f4f; }
    div.write-header .write-header-1 {
      font-size: 30px;
      text-align: center; }
    div.write-header .write-header-2 {
      font-size: 15px;
      text-align: center; }
    div.write-header .write-header-3 {
      font-size: 8px;
      text-align: center; }

  div.bio {
    font-size: 100%; } }
@media only screen and (min-width: 441px) and (max-width: 900px) {
  div.write-header {
    width: 100%;
    min-height: 50vh;
    padding-top: 10%;
    padding-left: 7%;
    font-size: auto;
    color: #2f4f4f; }
    div.write-header .write-header-1 {
      font-size: 45px;
      text-align: center; }
    div.write-header .write-header-2 {
      font-size: 25px;
      text-align: center; }
    div.write-header .write-header-3 {
      font-size: 18px;
      text-align: center; }

  div.bio {
    font-size: 150%; } }
@media only screen and (min-width: 901px) {
  div .write-header {
    width: 100%;
    min-height: 90vh;
    padding-top: 10%;
    padding-left: 7%;
    font-size: auto;
    color: #2f4f4f; }
    div .write-header .write-header-1 {
      font-size: 100px;
      text-align: center; }
    div .write-header .write-header-2 {
      font-size: 50px;
      text-align: center; }
    div .write-header .write-header-3 {
      font-size: 30px;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
