$primary: 	#d3d3d3 ;  //light-gray;
$secondary:	#000080 ;  //navy blue;
$white: #f5f5f5; //white smoke;
$black:#000000; // black;
$write:#191970;//midnightblue;


//start;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }



  //NAV BAR;
  nav{
    height: 60px;
    background-color: $white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

  }
  nav .logo{

    font-size: 33px;
    color:$secondary;
    font-weight: 600px;
  }
  nav ul{
    display: flex;
    list-style: none;
    }
  nav ul li{
      margin: 0px 5px;
    }
  nav ul li a{
    text-decoration: none;
    position: relative;
    color: $secondary;
    font-size: 18px;
    padding:5px 0;
    text-transform: uppercase;
  }
  nav ul li a:before{
            position: absolute;
            content:"";
            left: 0;
            bottom:0;
            height: 3px;
            width: 100%;
            background-color: $secondary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .4s linear;
            }
  nav ul li a:hover:before{
            transform: scaleX(1);
            transform-origin: left;
            }
  nav ul li a:active:before{
            color:$secondary;
          }
  nav ul li a.active{
    color: $black;
    }

  nav .menu-btn i{
    color: $secondary;
    font-size: 22px;
    cursor: pointer;
    display: none;
    }
    #click{
      display: none;
      }

//HEADER;

  section{
    position: relative;
    width: 100%;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;

      .content{
        position: relative;

        z-index: 1;
        margin: 0 auto;
        max-width:900px;
        text-align:left;

         h2{
           margin: 0;
           padding: 0;
           color: #fff;
           font-size: 5.5em;
         }


         p{
          color: $white;
          font-size: 2.5em;
          }
      }
    }

    section:before{
      content:"";
      position: absolute;
      top: 0;
      left:0;
      width:100%;
      height:100%;
      background: linear-gradient(45deg,$secondary,#B0E0E6);
      border-radius: 0 0 50% 50%/0 0 100% 100%;
      transform: scaleX(1.5);
    }

    .foto-me{
      z-index: 2;
      width:15%;
      margin-right: 15%;
      border-radius: 40% ;

    }


//ABOUT
div.bio{
    color:$write;
    background-color:$primary;
    margin:10%;
    display: flex;
    align-items:center;
    font-size:150%;
    border: 5px solid darkgrey;
    border-radius: 15px 60px;

      .bio-1{
        margin:6%;
      }

      h2{
        text-align: center;
        margin-bottom: 6%;
        font-size: auto;
      }
    }

    //Work!!
    h1.title-work{
      margin:15% 15% 0 15%;
      padding:2%;
      text-align:center;
      border-top: 2px solid darkgrey;

    }

    div.work{
      color:$write;
      background-color:$primary;
      margin:0 10%;
      display:flex;
      border: 5px solid darkgrey;
      font-size: auto;
      border-radius: 15px 60px;
      flex-wrap: wrap;





        h2{
          text-align: center;
          margin:5%;
          }

            .work-html{

              width: 19%;
              margin:3%;
              padding:3%;
              border-right: 1px solid darkslategrey;


                i {
                  display: flex;
                  justify-content: center;
                  font-size:48px;
                  color:blue;
                }
            }

            .work-css{

              width: 19%;
              margin:3%;
              padding-right:3%;
              padding-top:3%;
              border-right: 1px solid darkslategrey;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:red;
              }
            }

            .work-js{
              width: 19%;
              margin:3%;
              padding-right:3%;
              padding-top: 3%;
              border-right: 1px solid darkslategrey;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:#fde910;
                }
            }

            .work-sass{
              width: 19%;
              margin:3%;
              padding-top: 3%;

              i {
                display: flex;
                justify-content: center;
                font-size:48px;
                color:fuchsia;
              }
            }


    }



  //MOBILE;
  @media only screen and(max-width:440px){

        nav .menu-btn i{
        display:block;
        }


        #click:checked ~ .menu-btn i:before{
        content: "\f00d"; //appare croce nel menu piccolo;
          }
        nav ul{ //passaggio a menu piccolo decorazione;
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: $white;
        height: 100vh;
        width: 100%;
        display:block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 99999;
        }
        #click:checked ~ ul{
          left:0%;
          }
        nav ul li{
        margin: 40px 0px;
        }
        nav ul li a{
        font-size: 20px;
        display:block;
        }
        nav ul li a:hover,
        nav ul li a.active {
        color: $black;
        background-color: none;
        }


        //Header!! mobile

        section{
          font-size: 50%;
          height: 30vh;

        }

        .foto-me{
          width: 30%;
        }

      //About;mobile

      div.bio{
        font-size: 100%;
      }

      //work;mobile

      div.work{
        flex-wrap: nowrap;
        flex-direction: column;

        .work-html{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .work-css{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .work-js{
          width: 100%;
          padding:10%;
          border-right: none;
        }

        .work-sass{
          width: 100%;
          padding:10%;
          border-right: none;
        }

      }

  }





//TABLET;
@media only screen and(min-width:441px)and(max-width:900px){

    //HEADER;tablet
    section{
      height: 50vh;
      font-size: 75%;
    }
    .foto-me{
      width: 30%;
    }

//About;tablet

    div.bio{
        font-size: 150%;
  }

//work;tablet

    div.work{
      flex-wrap: wrap;
      flex-direction:row;
      .work-html{
        width: 40%;
        padding:3%;
        border-right: none;
      }
      .work-css{

        width: 40%;
        padding:3%;
        border-right: none;
      }
      .work-js{
        width: 40%;
        padding:3%;
        border-right: none;
      }
      .work-sass{
        width: 40%;
        padding:3%;
        border-right: none;
      }
    }
}
//DESKTOP!!
@media only screen and(min-width:901px){

          //HEADER;desktop



}
